<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Co-Med | Comprobante Nuevo Turno</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
      integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
	
  </head>
  <body>
  <div style='margin-left: 1rem; margin-top: 3rem; color: #313131'>
    <h2>Hola {{ patientFirstName }}! </h2>
    <p>Te infromamos que se ha dado de alta un nuevo turno para el d&iacute;a {{ appointmentStart }} hs</p>
    <h3>Detalles: </h3>
	<b><u>D&iacute;a y hora:</u> </b></span> viernes, 20 de mayo de 2022, 12:40 hs
	<br/>
	<br/>
	<b><u>Consultorio:</u> </b></span> {{ doctorRoom }}
	<br/>
	<br/>
	<b><u>Doctor/a:</u> </b> {{ doctorFullName }}
	<br/>
	<br/>
	<b><u>Especialidad:</u> </b> {{ doctorSpecialities }}
	<br/>
	<br/>
	<b><u>Obra Social:</u> </b> {{ healthInsurance }}
	<br/>
	<br/>
	<b><u>Tipo:</u> </b> {{ appointmentType }}
	<br/>
	<br/>
	<b><u>Modalidad:</u> </b> {{ appointmentMode }}
	<br/>
	<br/>
	<b><u>Descripci&oacute;n:</u> </b> -
	</div>
    <div style='margin-top: 1.5rem; color: #6c757d'>
	<hr/>
	<div>
		<div>
		<img            
            {{!-- src='cid:imgLogoname' --}}
            src='https://firebasestorage.googleapis.com/v0/b/co-med-a09ae.appspot.com/o/logos%2Flogo-principal-gris.png?alt=media&token=7e7f4775-7ca6-4d95-9903-04934a61e996'
            alt=''
            style='width: 300px; height: 180px;float: left;'
          />
		  <div style='padding-top: 4.5rem;'>
		  <small><i class='fa fa-home'></i>
            Moreno Nro. 850</small><br /><small><i
              class='icofont icofont-brand-whatsapp'
            ></i>
            <i class='fa fa-phone'></i>
            2966-682961</small><br /><small><i class='fa fa-envelope'></i>
            consultoriossanjulian@gmail.com</small><br /><small><i
              class='fa fa-map-marker'
            ></i> 
            9310 Puerto San Juli&aacute;n - Sta. Cruz</small><br
          />
		  </div></div></div>
		  </div>
  </body>
</html>